{
  "env": {
    "node": true,
    "mocha": true
  },
  "extends": [".eslintrc-sails"],
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "globals": {
    "Promise": true,
    "sails": true
  },
  "rules": {
    "callback-return":              ["error", ["done", "proceed", "next", "onwards", "callback", "cb"]],
    "camelcase":                    ["warn", {"properties":"always"}],
    "comma-style":                  ["warn", "last"],
    "curly":                        ["error"],
    "eqeqeq":                       ["error", "always"],
    "eol-last":                     ["warn"],
    "handle-callback-err":          ["error"],
    "indent":                       ["warn", 2, {
      "SwitchCase": 1,
      "MemberExpression": "off",
      "FunctionDeclaration": {"body":1, "parameters":"off"},
      "FunctionExpression": {"body":1, "parameters":"off"},
      "CallExpression": {"arguments":"off"},
      "ArrayExpression": 1,
      "ObjectExpression": 1,
      "ignoredNodes": ["ConditionalExpression"]
    }],
    "linebreak-style":              ["error", "unix"],
    "no-dupe-keys":                 ["error"],
    "no-duplicate-case":            ["error"],
    "no-extra-semi":                ["warn"],
    "no-labels":                    ["error"],
    "no-mixed-spaces-and-tabs":     [2, "smart-tabs"],
    "no-redeclare":                 ["warn"],
    "no-return-assign":             ["error", "always"],
    "no-sequences":                 ["error"],
    "no-trailing-spaces":           ["warn"],
    "no-undef":                     ["error"],
    "no-unexpected-multiline":      ["warn"],
    "no-unreachable":               ["warn"],
    "no-unused-vars":               ["warn", {"caughtErrors":"all", "caughtErrorsIgnorePattern": "^unused($|[A-Z].*$)", "argsIgnorePattern": "^unused($|[A-Z].*$)", "varsIgnorePattern": "^unused($|[A-Z].*$)" }],
    "no-use-before-define":         ["error", {"functions":false}],
    "one-var":                      ["warn", "never"],
    "prefer-arrow-callback":        ["warn", {"allowNamedFunctions":true}],
    "quotes":                       ["warn", "single", {"avoidEscape":false, "allowTemplateLiterals":true}],
    "semi":                         ["error", "always"],
    "semi-spacing":                 ["warn", {"before":false, "after":true}],
    "semi-style":                   ["warn", "last"],
    "no-console": 1,
    "no-debugger":"off",
    "quote-props": ["error", "consistent-as-needed"],
    "prefer-template": "error",
    "no-multi-spaces": ["error", { "ignoreEOLComments": false }],
    "space-in-parens": ["error", "always", {
      "exceptions": ["{}", "[]", "empty", "()"]
    }],
    "object-curly-spacing": ["error", "always", {
      "arraysInObjects": false,
      "objectsInObjects": false
    }],
    "array-bracket-spacing": ["error", "always", {
      "singleValue": false ,
      "objectsInArrays": false,
      "arraysInArrays": false
    }],
    "space-unary-ops": "error",
    "block-spacing": "error",
    "space-infix-ops": "error",
    "lines-between-class-members": ["error", "always"],
    "no-multiple-empty-lines": "error",
    "padded-blocks": ["error", { "blocks": "never", "classes": "always" }],
    "no-param-reassign":"off",
    "prefer-object-spread" : "2",
    "require-yield": "error",
    "no-extra-boolean-cast":"off"
  }
}
